.bingo_menu_container {
    display: flex;
    align-items: center;
    text-align: center;

    flex-flow: column nowrap;
    margin: auto;
    justify-content: space-between;
    padding: 1em;
}

.bingo_settings {
    display: flex;
    flex-flow: row nowrap;
}

.bingo_board_settings {
    display: flex;
    flex-flow: row nowrap;
}

.bingo_settings_objs_container {
    display: flex;
    flex-flow: column nowrap;
}

.bingo_settings_objs {
    display: flex;
    flex-flow: column nowrap;
}

.bingo_settings_btns {
    display: flex;
    flex-flow: row nowrap;
}