.home_container {
    display: flex;
    align-items: center;
    text-align: center;

    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.landing_text {
    font-size: 35px;
    display: flex;
    font-weight: bold;
    color: #ffffff;
    align-self: flex-end;
    vertical-align: start;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
}

.home_menu_comp {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    justify-content: center;
    margin: auto;
    border-radius: 3px;
    border: 3px;
    border-color: red;
    align-self: center;
}