@tailwind base;
@tailwind components;
@tailwind utilities;

.home_container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;

    flex-direction: column;
    justify-content: space-between;
}

.landing_text {
    font-size: 35px;
    display: flex;
    font-weight: bold;
    color: #ffffff;
    align-self: flex-end;
    vertical-align: start;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
}

.home_menu_comp {
    margin: auto;
    margin-top: 0;
}

.home_title {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 2rem;
    height: 25%;
    vertical-align: bottom;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (max-width: 1281px) {
    .home_title {
        height: 22.5%;
    }
}

@media screen and (max-width: 1020px) {
    .home_title {
        height: 12.5%;
    }
}

@media screen and (max-width: 570px) {
    .home_container {
        margin-left: 0;
        align-items: left;
    }
    .home_menu_comp {
        margin-left: 0;
    }
}