Button.home_card_link_container {
    background-color: #20242c;
}

Button.home_card_link_container:hover {
    background-color: #1a1d24;
}

.home_card_link_container {
    margin: 0.5em!important;
    text-align: center!important;
    justify-content: center!important;
    align-items: center!important;
    border: 1.5px solid white!important;
    padding: 1.5em!important;
    height: auto!important;
}

.home_card_link_upper {
    display: flex;
    flex-flow: column wrap;
}

.home_card_link_title {
    font-size: 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    color: #ffffff;
}

.home_card_label {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 2rem;
}

.home_card_link_pic svg {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    padding-left: 0.2em!important;
    width: 2rem!important;
    height: 2rem!important;
}

.home_card_desc {
    text-align: center;
    font-size: 15px;
    word-wrap: break-word;
}

Button:disabled.data-\[state\=on\]\:bg-accent[data-state="on"] {
    color: black;
}

.tooltip_content {
    max-width: 300px;
    width: auto;
    white-space: normal;
    word-wrap: break-word;
    padding: 10px;
}