Button.home_card_link_container {
    background-color: red;
}

.home_card_link_container {
    margin: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    padding: 1em;
    height: auto;
}

.home_card_link_upper {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 1em;
}

.home_card_link_title {
    font-size: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.home_card_link_pic {
    padding-left: 0.3em;
    padding-top: 0.15em;
}

.home_card_desc {
    text-align: center;
    font-size: 15px;
    word-wrap: break-word;
}