.sideBarContainer {
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
    justify-content: space-between;
    margin: 2em;
    height: 220px;
    width: 100px;
    min-width: 5%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: visible;
}