.home_card_container {
    margin-top: 2em;
    border-radius: 3px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
}

@media screen and (max-width: 1100px) {
    .home_card_container {
        flex-flow: column wrap;
        margin: 0;
        padding: 0;
        gap: 0.5em;
    }

    .home_card_container Button {
        width: 90%;
        margin: 0;
        margin-bottom: 0;
        margin-top: 0.5em
    }

    .home_card_container {
        vertical-align: auto;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .home_menu_comp {
        width: 20em;
    }
}