.tooltip_content {
    max-width: 300px;
    white-space: normal;
    word-wrap: break-word;
    padding: 10px;
}

@media screen and (max-width: 570px) {
    .tooltip_content {
        width: min(50vw, 300px)
    }
}